@import '../../../../sass/theme/colors.scss';
@import '../../../../sass/theme/mixins.scss';
@import '../../../../sass/theme/globals.scss';


$path: '../../../../';
$path-button-add: $path + 'assets/img/button-add.png';

.Slot {
  opacity: 0.56;
  margin-top: get-rem(33px);
  width: get-rem(600px);
  background: transparent;
  border-radius: get-rem(10px);
  border: 1px dashed $queue-white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .Slot__time {
    padding-right: get-rem(10px);
    padding-bottom: get-rem(3px);
    font-size: get-rem(20px);
    color: $queue-white;

    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .Slot__min {
    font-size: get-rem(12px);
  }
  .Slot__button__add {
    width: get-rem(39px);
    height: get-rem(39px);
    background: url($path-button-add);
    background-size: cover;
    opacity: 1;
  }
}

.Slot:hover {
  opacity: 1;
}