@import '../../sass/theme/colors.scss';
@import '../../sass/theme/mixins.scss';

$path: '../../../../';
$logoPath: '#{$path}/assets/img/logo';



button {
  border: 0;
  cursor: pointer;

}
button:focus{
  outline: 0;
}
