@import '../../../../sass/theme/colors.scss';
@import '../../../../sass/theme/mixins.scss';
@import '../../../../sass/theme/globals.scss';

$path: '../../../../';
$path-avatar: $path + 'assets/img/avatar.png';

header {
  height: get-rem(55px);
  background: $queue-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $margin-left;
  padding-right: $margin-right;
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.47);
  z-index: $z-index-header;
  .Header__logo {
    width: get-rem(140px);
    height: get-rem(34px);
  }
  .Header__profile {
    width: get-rem(40px);
    height: get-rem(36px);
    background: url($path-avatar);
    background-size: cover;
  }
}