@import '../../../sass/theme/colors.scss';
@import '../../../sass/theme/mixins.scss';
@import '../../../sass/theme/globals.scss';

.Events {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: get-rem(70px);
}