@import '../../../../sass/theme/colors.scss';
@import '../../../../sass/theme/mixins.scss';
@import '../../../../sass/theme/globals.scss';

$path: '../../../../';
$path-avatar: $path + 'assets/img/avatar.png';

.Clock {
  font-family: 'Roboto', sans-serif;
  font-size: get-rem(36px);
  position: fixed;
  top: get-rem(7px);
  left: 0;
  right: 0;
  z-index: $z-index-header;

  text-align: center;
  &.green {
    color: $queue-green;
  }
  &.white {
    color: $queue-white;
  }
}